* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .wrap {
    display: flex;
  }
  .left {
    width: 400px;
    height: 100vh;
  }
  .left > div {
    width: 100%;
    height: 100vh;
  }
  .right {
    position: fixed;
    left: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  #map {
    transition: transform 1.5s;
    max-width: 100%;
  }